<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>





    <div class="preloader">
        <div class="preloader__image"></div>
    </div>
    <!-- /.preloader -->


    <div class="page-wrapper">
        @{
            Html.RenderPartial("_navbar");
        }

        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->
        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header-bg" style="background-image: url(~/Content/assets/images/backgrounds/page-header-bg.jpg)">
            </div>
            <div class="page-header-shape-1"><img src="~/Content/assets/images/shapes/page-header-shape-1.png" alt=""></div>
            <div class="container">
                <div class="page-header__inner">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="index.html">Home</a></li>
                        <li><span>/</span></li>
                        <li>policy proposal</li>
                    </ul>
                    <h2>Policy proposal</h2>
                </div>
            </div>
        </section>
        <!--Page Header End-->
        <!--Policy Proposal Start-->
        <section class="policy-proposal">
            <div class="container">
                <div class="policy-proposal__inner">
                    <p class="policy-proposal__text-1">
                        Please fill out and submit the form below. Our representative
                        will inform you about other requirements for <br> obtaining an insurance policy:
                    </p>
                    <form action="https://pixydrops.com/insur-html/main-html/assets/inc/sendemail.php" class="policy-proposal__form contact-form-validated">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="policy-proposal__input-box">
                                    <p class="policy-proposal__input-title">Select City:</p>
                                    <div class="select-box">
                                        <select class="wide nice-select">
                                            <option data-display="Select city">Select city</option>
                                            <option value="1">Select city 01</option>
                                            <option value="2">Select city 02</option>
                                            <option value="3">Select city 03</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6"></div>
                            <div class="col-xl-6">
                                <div class="policy-proposal__input-box">
                                    <p class="policy-proposal__input-title">Your Full Name:</p>
                                    <input type="text" placeholder="" name="name">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="policy-proposal__input-box">
                                    <p class="policy-proposal__input-title">Father’s/Husband’s Full Name:</p>
                                    <input type="text" placeholder="" name="name">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="policy-proposal__input-box">
                                    <p class="policy-proposal__input-title">Indentity No:</p>
                                    <input type="text" placeholder="" name="name">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="policy-proposal__input-box">
                                    <p class="policy-proposal__input-title">Date of Birth:</p>
                                    <input type="text" placeholder="" name="name">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="policy-proposal__input-box">
                                    <p class="policy-proposal__input-title">Residential Address:</p>
                                    <input type="text" placeholder="" name="name">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="policy-proposal__input-box">
                                    <p class="policy-proposal__input-title">Contact No:</p>
                                    <input type="text" placeholder="" name="name">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="policy-proposal__input-box">
                                            <p class="policy-proposal__input-title">Fax:</p>
                                            <input type="text" placeholder="" name="name">
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="policy-proposal__input-box">
                                            <p class="policy-proposal__input-title">Email:</p>
                                            <input type="text" placeholder="" name="name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="policy-proposal__input-box">
                                    <p class="policy-proposal__input-title">Your Occupation:</p>
                                    <input type="text" placeholder="" name="name">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="policy-proposal__input-box">
                                    <p class="policy-proposal__input-title">Monthly Income:</p>
                                    <input type="text" placeholder="" name="name">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="policy-proposal__input-box">
                                            <p class="policy-proposal__input-title">Chose Plan:</p>
                                            <div class="select-box">
                                                <select class="wide nice-select">
                                                    <option data-display="Choose policy">Choose policy</option>
                                                    <option value="1">Choose policy 01</option>
                                                    <option value="2">Choose policy 02</option>
                                                    <option value="3">Choose policy 03</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="policy-proposal__input-box">
                                            <p class="policy-proposal__input-title">Chose Terms:</p>
                                            <div class="select-box">
                                                <select class="wide nice-select">
                                                    <option data-display="10">10</option>
                                                    <option value="1">10</option>
                                                    <option value="2">20</option>
                                                    <option value="3">30</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="policy-proposal__messages-boxes">
                                    <div class="policy-proposal__message-one">
                                        <p class="policy-proposal__message-one-title">
                                            Do you have any physical
                                            impairment?
                                            If yes, please state its nature:
                                        </p>
                                        <div class="policy-proposal__textarea-one">
                                            <textarea name="message" placeholder=""></textarea>
                                        </div>
                                    </div>
                                    <div class="policy-proposal__message-two">
                                        <p class="policy-proposal__message-two-title">
                                            Do you now or ever had heart
                                            disease,
                                            diabetes, high blood pressure, TB, jaundice or liver, stomach, renal
                                            disease,
                                            cancer, asthma, epilepsy, nervous or psychological disorders? If so specify
                                            with
                                            dates:
                                        </p>
                                        <div class="policy-proposal__textarea-two">
                                            <textarea name="message" placeholder=""></textarea>
                                        </div>
                                    </div>
                                    <div class="policy-proposal__message-three">
                                        <p class="policy-proposal__message-three-title">
                                            Are you in good health? If not,
                                            describe the nature of ailment:
                                        </p>
                                        <div class="policy-proposal__textarea-three">
                                            <textarea name="message" placeholder=""></textarea>
                                        </div>
                                    </div>
                                    <button type="submit" class="thm-btn policy-proposal__btn">@Html.ActionLink("Submit Proposal", "Registration", "User")</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!--Policy Proposal End-->
        <!--Site Footer Start-->
        @{
            Html.RenderPartial("_footer");
        }
        <!--Site Footer End-->


    </div><!-- /.page-wrapper -->


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="index.html" aria-label="logo image">
                    <img src="~/Content/assets/images/resources/logo-2.png" width="143"
                         alt="">
                </a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:needhelp@packageName__.com">needhelp@insur.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:666-888-0000">666 888 0000</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here...">
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="icon-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>


</body>


<!-- Mirrored from pixydrops.com/insur-html/main-html/policy-proposal.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 20 Feb 2025 11:50:44 GMT -->
</html>