<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>





    <div class="preloader">
        <div class="preloader__image"></div>
    </div>
    <!-- /.preloader -->


    <div class="page-wrapper">
        @{
            Html.RenderPartial("_navbar");
        }

        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->
        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header-bg" style="background-image: url(~/Content/assets/images/backgrounds/page-header-bg.jpg)">
            </div>
            <div class="page-header-shape-1"><img src="~/Content/assets/images/shapes/page-header-shape-1.png" alt=""></div>
            <div class="container">
                <div class="page-header__inner">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="index.html">Home</a></li>
                        <li><span>/</span></li>
                        <li>portfolio Details</li>
                    </ul>
                    <h2>Portfolio details</h2>
                </div>
            </div>
        </section>
        <!--Page Header End-->
        <!--Portfolio Details Start-->
        <section class="portfolio-details">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="portfolio-details__img">
                            <img src="~/Content/assets/images/project/portfolio-details-img.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="portfolio-details__content">
                    <div class="row">
                        <div class="col-xl-8 col-lg-8">
                            <div class="portfolio-details__content-left">
                                <h3 class="portfolio-details__title">Insurance policy</h3>
                                <p class="portfolio-details__text-1">
                                    Tincidunt elit magnis nulla facilisis sagittis
                                    sapien nunc amet ultrices dolores sit ipsum velit purus aliquet massa fringilla leo
                                    orci. Sapien nunc amet ultrices, dolores sit ipsum velit massa fringilla leo orci
                                    dolors sit amet elit amet.
                                </p>
                                <p class="portfolio-details__text-2">
                                    It is a long established fact that a reader will be
                                    distracted by the readable content of a page when looking at its layout. The point
                                    of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                                    as opposed to using 'Content here, content here', making it look like readable
                                    English. Many desktop publishing packages and web page editors now use Lorem Ipsum
                                    as their default model text, and a search for 'lorem ipsum' will uncover many web
                                    sites still in their infancy. Various versions have evolved over the years,
                                    sometimes by accident, humour and the like.
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <div class="portfolio-details__content-right">
                                <div class="portfolio-details__details-box">
                                    <ul class="list-unstyled portfolio-details__details-list">
                                        <li>
                                            <p class="portfolio-details__client">Clients:</p>
                                            <h4 class="portfolio-details__name">Jessica Brown</h4>
                                        </li>
                                        <li>
                                            <p class="portfolio-details__client">Category:</p>
                                            <h4 class="portfolio-details__name">Insurance, Policies</h4>
                                        </li>
                                        <li>
                                            <p class="portfolio-details__client">Date:</p>
                                            <h4 class="portfolio-details__name">20 March, 2022</h4>
                                        </li>
                                        <li>
                                            <div class="portfolio-details__social">
                                                <a href="#"><i class="fab fa-twitter"></i></a>
                                                <a href="#"><i class="fab fa-facebook"></i></a>
                                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                                <a href="#"><i class="fab fa-instagram"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="projectc-details__pagination-box">
                            <ul class="projectc-details__pagination list-unstyled clearfix">
                                <li class="next">
                                    <div class="icon">
                                        <a href="#" aria-label="Previous"><i class="icon-right-arrow"></i></a>
                                    </div>
                                    <div class="content">
                                        <span>Previous post</span>
                                        <p>Business strategy</p>
                                    </div>
                                </li>
                                <li class="count"><a href="#"></a></li>
                                <li class="count"><a href="#"></a></li>
                                <li class="count"><a href="#"></a></li>
                                <li class="count"><a href="#"></a></li>
                                <li class="previous">
                                    <div class="content">
                                        <span>Next post</span>
                                        <p>Tech solutions</p>
                                    </div>
                                    <div class="icon">
                                        <a href="#" aria-label="Previous"><i class="icon-right-arrow1"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Portfolio Details End-->
        <!--Similar Portfolio Start-->
        <section class="similar-portfolio">
            <div class="container">
                <div class="section-title text-center">
                    <div class="section-sub-title-box">
                        <p class="section-sub-title">our portfolio</p>
                        <div class="section-title-shape-1">
                            <img src="~/Content/assets/images/shapes/section-title-shape-1.png" alt="">
                        </div>
                        <div class="section-title-shape-2">
                            <img src="~/Content/assets/images/shapes/section-title-shape-2.png" alt="">
                        </div>
                    </div>
                    <h2 class="section-title__title">Our similar completed <br> projects</h2>
                </div>
                <div class="row">
                    <!--Portfolio Single Start-->
                    <div class="col-xl-4 col-lg-4">
                        <div class="portfolio__single">
                            <div class="portfolio__img">
                                <img src="~/Content/assets/images/project/portfolio-1-7.jpg" alt="">
                                <div class="portfolio__plus">
                                    <a href="~/Content/assets/images/project/portfolio-1-7.jpg" class="img-popup">
                                        <span class="icon-plus"></span>
                                    </a>
                                </div>
                                <div class="portfolio__content">
                                    <p class="portfolio__sub-title">Strategy</p>
                                    <h4 class="portfolio__title">
                                        <a href="portfolio-details.html">Insurance policy</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Portfolio Single End-->
                    <!--Portfolio Single Start-->
                    <div class="col-xl-4 col-lg-4">
                        <div class="portfolio__single">
                            <div class="portfolio__img">
                                <img src="~/Content/assets/images/project/portfolio-1-8.jpg" alt="">
                                <div class="portfolio__plus">
                                    <a href="~/Content/assets/images/project/portfolio-1-8.jpg" class="img-popup">
                                        <span class="icon-plus"></span>
                                    </a>
                                </div>
                                <div class="portfolio__content">
                                    <p class="portfolio__sub-title">Strategy</p>
                                    <h4 class="portfolio__title">
                                        <a href="portfolio-details.html">Insurance policy</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Portfolio Single End-->
                    <!--Portfolio Single Start-->
                    <div class="col-xl-4 col-lg-4">
                        <div class="portfolio__single">
                            <div class="portfolio__img">
                                <img src="~/Content/assets/images/project/portfolio-1-9.jpg" alt="">
                                <div class="portfolio__plus">
                                    <a href="~/Content/assets/images/project/portfolio-1-9.jpg" class="img-popup">
                                        <span class="icon-plus"></span>
                                    </a>
                                </div>
                                <div class="portfolio__content">
                                    <p class="portfolio__sub-title">Strategy</p>
                                    <h4 class="portfolio__title">
                                        <a href="portfolio-details.html">Insurance policy</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Portfolio Single End-->
                </div>
            </div>
        </section>
        <!--Similar Portfolio End-->
        <!--Site Footer Start-->
        @{
            Html.RenderPartial("_footer");
        }
        <!--Site Footer End-->


    </div><!-- /.page-wrapper -->


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="index.html" aria-label="logo image">
                    <img src="~/Content/assets/images/resources/logo-2.png" width="143"
                         alt="">
                </a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:needhelp@packageName__.com">needhelp@insur.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:666-888-0000">666 888 0000</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here...">
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="icon-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>

</body>


<!-- Mirrored from pixydrops.com/insur-html/main-html/portfolio-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 20 Feb 2025 11:50:56 GMT -->
</html>